/* 
    Document   : style
    Created on : Oct 2, 2013, 12:11:30 AM
    Author     : yemin
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body {
    margin: 0;
}

.left {
    float: left;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}



.page-warp {
    width: 640px;
    height: 960px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}







/*********** 显示框 **********/
.info-box {
    width: 518px;
    margin: 30px auto;
    padding: 10px;
    background-color: rgb(252, 221, 155);
    border-radius: 8px;
    border: none;
    overflow: hidden;
}

.info-box .inner {
    border: 2px dashed rgb(160,115,62);
    border-radius: 8px;
    width: 100%;
    height: 100%;
}

.info-box .title {
    height: 46px;
    margin: -2px 0 0 -2px;
}

.info-box .title .body {
    background-color: rgb(190, 0, 0);
    height: 100%;
    padding: 0 20px;
    float: left;
    color: white;
    line-height: 46px;
    font-size: 20px;
    border-radius: 8px 0px 0px 8px;
}

.info-box .title .tail {
    background: url("images/desc_dec.png");
    height: 46px;
    width: 11px;
    float: left;
}

.info-box .content p {
    margin: 8px;
    font-size: 22px;
    color: rgb(45, 45, 45);
}





/****** 主界面 ********/
.page-warp.main {
    background: url("images/main_bg.png");
}

.page-warp.main .bowknot {
    position: absolute;
    top: 0;
    left: 0;
}


.page-warp.main .lucky-form-container {
    width: 518px;
    height: 385px;
    margin: 0 auto;
    margin-top: 124px;
    background: url("images/main_input_bg.png");
}

.page-warp.main .lucky-form {
    padding: 30px;
}

form .control-group {
    padding: 14px 0;
}

form .control-group .control-label {
    width: 80px;
    float: left;
    text-align: right;
    font-size: 24px;
    display: block;
    color: rgb(150, 7, 6);
    margin-top: 6px;
}

form .control-group .controls {
    margin-left: 100px;
}

form .control-group .controls input[type=text] {
    border: 0;
    height: 48px;
    line-height: 32px;
    font-size: 32px;
    border-radius: 10px;
    outline: none;
    padding: 0 .4em;
    box-shadow: inset 0px 4px 5px #888;
    -webkit-appearance: none;
}

form .control-group .controls input[type=text].large{
    width: 300px;
}

form .control-group .controls input[type=text].small{
    width: 140px;
}

.btn {
    background-color: rgb(210, 0, 10);
    background-image: linear-gradient(to bottom, rgb(246,0,12), rgb(169,0,11));
    border-radius: 6px;
    border: none;
    color: white;
    padding: 8px;
    vertical-align: middle;
}


.btn.small {
    width: 120px;
    font-size: 20px;
    margin-left: 20px;
}

.btn.large {
    margin-top: 10px;
    width: 200px;
    font-size: 26px;
}









/****** 抽奖界面 ********/
.page-warp.lucky {
    background-color: rgb(171, 14, 9);
}

.page-warp.lucky .circle {
    height: 200px;
}






/******* 中奖页面 **********/
.page-warp.congratulation {
    background: url("images/lucky_bg.png");
}

.page-warp.congratulation .prize-level {
    position: absolute;
    top: 48px;
    left: 300px;
    color: white;
    font-size: 28px;
    font-weight: bold;
}

.page-warp.congratulation .info-box {
    margin-top: 340px;
}


/********** 中奖信息 *************/
.page-warp {
    background-color: rgb(212, 212, 212);
}
.page-warp.info .head {
    background-color: rgb(172, 0, 10);
    height: 240px;
}

.page-warp.info .head .avatar {
    float: left;
    margin: 60px 0 0 60px;
}

.page-warp.info .head .avatar img {
    width: 120px;
    height: 120px;
    border-radius: 10px;
}

.page-warp.info .head .user-info {
    color: white;
    font-size: 22px;
    float: left;
    margin-top: 100px;
    margin-left: 20px;
}

.page-warp.info .head .user-info p {
    margin: 10px;
}

.page-warp.info .head .caret {
    position: absolute;
    top: 240px;
    left: 80px;
}

.page-warp.info .head .caret b {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 28px solid rgb(172, 0, 10);
    border-right: 18px solid transparent;
    border-bottom: 0 dotted;
    border-left: 18px solid transparent;
}

.page-warp.info .prize-list {
    background-color: rgb(189, 189, 189);
    list-style: none;
    margin-top: 56px;
    padding-left: 0;
}

.page-warp.info .prize-list li:not(:last-child) {
    border-bottom: 2px solid rgba(220, 220, 220, 0.7);
}

.page-warp.info .prize-list li {
    margin: 0 30px;
}

.page-warp.info .prize-list li a{
    display: block;
    text-decoration: none;
    color: rgb(73, 73, 73);
}

.page-warp.info .prize-list .level {
    display: block;
    float: left;
    font-size: 28px;
    font-weight: bold;
    margin: 6px 0 6px 20px;
}

.page-warp.info .prize-list .date {
    display: block;
    position: absolute;
    right: 80px;
    font-size: 20px;
    margin-top: 15px;
}

.page-warp.info .prize-list .arrow {
    display: block;
    position: absolute;
    right: 30px;
    width: 15px;
    height: 25px;
    margin-top: 14px;
    background: url("images/list_discloure.png");
}
